org.activebpel.rt.bpel/src/main/wsdl/monitorlogger.wsdl

<definitions name='Monitor' targetNamespace='http://localhost:8080/Dynamo/Monitor' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:ns1='http://jaws.data.compiler.polimi.it/jaws' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://localhost:8080/Dynamo/Monitor' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <schema elementFormDefault='qualified' targetNamespace='http://jaws.data.compiler.polimi.it/jaws' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:ns1='http://localhost:8080/Dynamo/Monitor' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://jaws.data.compiler.polimi.it/jaws' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <import namespace='http://localhost:8080/Dynamo/Monitor'/>
   <complexType name='SupervisionRuleInfoWrapper'>
    <sequence>
     <element name='location' nillable='true' type='string'/>
     <element name='precondition' type='boolean'/>
     <element name='priority' type='int'/>
     <element name='processID' nillable='true' type='string'/>
     <element name='providers' nillable='true' type='string'/>
     <element name='recoveryStrategy' nillable='true' type='string'/>
     <element name='timeFrame' nillable='true' type='string'/>
     <element name='userID' nillable='true' type='string'/>
     <element name='wscolRule' nillable='true' type='string'/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault='qualified' targetNamespace='http://localhost:8080/Dynamo/Monitor' xmlns='http://www.w3.org/2001/XMLSchema' xmlns:ns2='http://jaws.data.compiler.polimi.it/jaws' xmlns:soap11-enc='http://schemas.xmlsoap.org/soap/encoding/' xmlns:tns='http://localhost:8080/Dynamo/Monitor' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
   <import namespace='http://jaws.data.compiler.polimi.it/jaws'/>
   <complexType name='evaluateMonitoring'>
    <sequence>
     <element name='supervisionRuleInfoWrapper' nillable='true' type='ns2:SupervisionRuleInfoWrapper'/>
     <element name='xmlData' nillable='true' type='string'/>
     <element name='configHvar' nillable='true' type='string'/>
    </sequence>
   </complexType>
   <complexType name='evaluateMonitoringResponse'>
    <sequence/>
   </complexType>
   <element name='evaluateMonitoring' type='tns:evaluateMonitoring'/>
   <element name='evaluateMonitoringResponse' type='tns:evaluateMonitoringResponse'/>
  </schema>
 </types>
 <message name='IMonitor_evaluateMonitoring'>
  <part element='tns:evaluateMonitoring' name='parameters'/>
 </message>
 <message name='IMonitor_evaluateMonitoringResponse'>
  <part element='tns:evaluateMonitoringResponse' name='result'/>
 </message>
 <portType name='IMonitor'>
  <operation name='evaluateMonitoring'>
   <input message='tns:IMonitor_evaluateMonitoring'/>
   <output message='tns:IMonitor_evaluateMonitoringResponse'/>
  </operation>
 </portType>
 <binding name='IMonitorBinding' type='tns:IMonitor'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='evaluateMonitoring'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='Monitor'>
  <port binding='tns:IMonitorBinding' name='IMonitorPort'>
   <soap:address location='http://lili-laptop:8080/monitor/Monitor'/>
  </port>
 </service>
</definitions>